body {
  height: 100vh;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background: url(../img/BG/winternight.jpg);
  overflow: hidden;
  /* filter: drop-shadow(0 0 5px white); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(5px); */
}

.glow {
  filter: drop-shadow(0 0 5px white);
}

.calendar .holiday {
  background-color: lightseagreen;
}

.calendar .date:not(.other-month):hover {
  background: rgb(10, 61, 139);

}

.left-img {
  background: url(../img/leftside/winteredited.jpg);
  background-size:100% 100%;
}

.left-font-top {
  align-items: center;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif ;
  background: rgba(0, 0, 0, .7);
  border-radius: 100px;
}

.left-font-bottom {
  align-items: center;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif ;
  background: rgba(0, 0, 0, .7);
  border-radius: 100px;

}